In [1]:
# Installing the packages
import numpy as np
import pandas as pd
from apyori import apriori
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import pairwise_distances
from sklearn.metrics import mean_squared_error
from math import sqrt

In [2]:
# importing the dataset
dataset = pd.read_csv("Amazon - Movies and TV Ratings.csv")
#dataset.head()
dataset.head()

,user_id,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
0,A3R5OBKS7OM2IR,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AH3QC2PC1VTGP,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A3LKP6WPMP9UKX,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AVIY68KEPQ5ZD,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A1CV1WROP5KTTW,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
dataset.isnull().sum()

user_id        0
Movie1      4847
Movie2      4847
Movie3      4847
Movie4      4846
            ...
Movie202    4842
Movie203    4847
Movie204    4840
Movie205    4813
Movie206    4835
Length: 207, dtype: int64

In [4]:
# dataset[dataset.iloc[:,1:]>max(dataset.iloc[:,1:].all())]

In [5]:
# dataset.filter(dataset.iloc[:,1:]>max(dataset.iloc[:,1:].all()))

In [6]:
type(dataset)

pandas.core.frame.DataFrame

In [7]:
maximum_rating_of_each_movie = dataset.max()

In [8]:
maximum_rating_all_movies = dataset.iloc[:,1:].max()

In [9]:
maximum_rating_among_all_movies = max(maximum_rating_all_movies)

In [10]:
type(maximum_rating_all_movies)

pandas.core.series.Series

In [11]:
# EDA Answer

In [12]:
#  Ans1 i) Movies with max ratings
all_max_rating_movies = maximum_rating_all_movies[maximum_rating_all_movies ==maximum_rating_among_all_movies]
print(all_max_rating_movies)

Movie1      5.0
Movie2      5.0
Movie4      5.0
Movie5      5.0
Movie7      5.0
           ...
Movie201    5.0
Movie202    5.0
Movie204    5.0
Movie205    5.0
Movie206    5.0
Length: 176, dtype: float64

In [13]:
# count of max rating movies
Count_max_rating_movies = all_max_rating_movies.count()
print(Count_max_rating_movies)

176

In [14]:
Count_of_views_movies = dataset.iloc[:,1:].notnull().sum()

In [15]:
max(Count_of_views_movies)

2313

In [16]:
#  Ans 1 ii)Movie with max view (movie127)
movies_with_max_views = Count_of_views_movies[Count_of_views_movies==max(Count_of_views_movies)]
print(movies_with_max_views)

Movie127    2313
dtype: int64

In [17]:
#  Avrage rating of each movie
averagerating_each_movie = dataset.iloc[:,1:].mean()

In [18]:
Highest_avg_rating_among_all=averagerating_each_movie[averagerating_each_movie==maximum_rating_among_all_movies]

In [19]:
# Answer2
Highest_avg_rating_among_all.head(5)

Movie1    5.0
Movie2    5.0
Movie4    5.0
Movie7    5.0
Movie8    5.0
dtype: float64

In [20]:
# Answer 3 Step1 all the null Views count
Count_of_lessviews_movies = dataset.iloc[:,1:].isnull().sum()

In [21]:
# Answer3 step2
Movie_with_high_rating_lessaud=Highest_avg_rating_among_all[( Count_of_lessviews_movies ==max(Count_of_lessviews_movies))]

In [22]:
# Answer3 EDA Movie with high rating and less audience avg rating =5 & Not View max 
Movie_with_high_rating_lessaud.head(5)

Movie1    5.0
Movie2    5.0
Movie7    5.0
Movie8    5.0
Movie9    5.0
dtype: float64

In [23]:
# dataset[dataset.iloc[:,1:] == max( dataset.iloc[:,1:].isnull().sum())]

In [24]:
dataset.iloc[:,1:].isnull().count()

Movie1      4848
Movie2      4848
Movie3      4848
Movie4      4848
Movie5      4848
            ...
Movie202    4848
Movie203    4848
Movie204    4848
Movie205    4848
Movie206    4848
Length: 206, dtype: int64

In [25]:
print(dataset)

             user_id  Movie1  Movie2  Movie3  Movie4  Movie5  Movie6  Movie7  \
0     A3R5OBKS7OM2IR     5.0     5.0     NaN     NaN     NaN     NaN     NaN
1      AH3QC2PC1VTGP     NaN     NaN     2.0     NaN     NaN     NaN     NaN
2     A3LKP6WPMP9UKX     NaN     NaN     NaN     5.0     NaN     NaN     NaN
3      AVIY68KEPQ5ZD     NaN     NaN     NaN     5.0     NaN     NaN     NaN
4     A1CV1WROP5KTTW     NaN     NaN     NaN     NaN     5.0     NaN     NaN
...              ...     ...     ...     ...     ...     ...     ...     ...
4843  A1IMQ9WMFYKWH5     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4844  A1KLIKPUF5E88I     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4845   A5HG6WFZLO10D     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4846  A3UU690TWXCG1X     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4847   AI4J762YI6S06     NaN     NaN     NaN     NaN     NaN     NaN     NaN

      Movie8  Movie9  ...  Movie197  Movie198  Movie199  Movie200  Movie201  \
0        NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
1        NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
2        NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
3        NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
4        NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
...      ...     ...  ...       ...       ...       ...       ...       ...
4843     NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
4844     NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
4845     NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
4846     NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
4847     NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN

      Movie202  Movie203  Movie204  Movie205  Movie206
0          NaN       NaN       NaN       NaN       NaN
1          NaN       NaN       NaN       NaN       NaN
2          NaN       NaN       NaN       NaN       NaN
3          NaN       NaN       NaN       NaN       NaN
4          NaN       NaN       NaN       NaN       NaN
...        ...       ...       ...       ...       ...
4843       NaN       NaN       NaN       NaN       5.0
4844       NaN       NaN       NaN       NaN       5.0
4845       NaN       NaN       NaN       NaN       5.0
4846       NaN       NaN       NaN       NaN       5.0
4847       NaN       NaN       NaN       NaN       5.0

[4848 rows x 207 columns]

In [26]:
Number_of_user_notwatch_movie= dataset.iloc[:,1:].isnull().sum()

In [27]:
# part of data reverse eng.
# data = [[Number_of_user_notwatch_movie],[score_of_each_movie]]

In [28]:
# dataset.iloc[:,1:10].mean()

In [29]:
# all_max_rating_movies

In [30]:
# dataset.iloc[:,1:].isnull().sum()

In [31]:
# df[df['first_name'].notnull() & (df['nationality'] == "USA")]

In [32]:
# dataset[a[a == max(a)] and (c[c == 5])].all()

In [33]:
# dataset[a[a == max(a)]].all() and dataset[c[c == 5]].all()

In [34]:
type([dataset])

list

In [35]:
dataset['user_id']

0       A3R5OBKS7OM2IR
1        AH3QC2PC1VTGP
2       A3LKP6WPMP9UKX
3        AVIY68KEPQ5ZD
4       A1CV1WROP5KTTW
             ...
4843    A1IMQ9WMFYKWH5
4844    A1KLIKPUF5E88I
4845     A5HG6WFZLO10D
4846    A3UU690TWXCG1X
4847     AI4J762YI6S06
Name: user_id, Length: 4848, dtype: object

In [36]:
 a = dataset.iloc[1,:].notnull()

In [37]:
a[a == True]

user_id    True
Movie3     True
Name: 1, dtype: bool

In [38]:
# for i in range(0,4849):
#     a = dataset.iloc[i,:].notnull().values
#     d = a[a>=1]
#     print(d)

In [39]:
a = dataset.iloc[:,1:].notnull().groupby(dataset.iloc[:,0])
print(a)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fc6e7808a90>

In [40]:
a =dataset.iloc[:,1:].notnull()

In [41]:
for i in range(0,3):
    m=dataset.iloc[0,:].notnull()
    k=m[m==True]
    print(k)

user_id    True
Movie1     True
Movie2     True
Name: 0, dtype: bool
user_id    True
Movie1     True
Movie2     True
Name: 0, dtype: bool
user_id    True
Movie1     True
Movie2     True
Name: 0, dtype: bool

In [42]:
# First method but manual work required step1

m=dataset.iloc[11,:].notnull()

In [43]:
#  Step2
m[m==True].values

array([ True,  True])

In [44]:

# for i in range(0,4849):
#     for j in range(0,207):
#         k=dataset.iloc[i,0:j]
#         print(k)

# Now we know which movie has score we take only these movie
k= dataset.iloc[9,0:6]
print(k)

user_id    A3VCKTRD24BG7K
Movie1                NaN
Movie2                NaN
Movie3                NaN
Movie4                NaN
Movie5                  5
Name: 9, dtype: object

In [45]:
k[0]

'A3VCKTRD24BG7K'

In [46]:
# Step 4 Manually dataframe creation
data =[['A3R5OBKS7OM2IR','Movie1',5],['A3R5OBKS7OM2IR','Movie2',5],['AH3QC2PC1VTGP','Movie3',2],['A3LKP6WPMP9UKX','Movie4',5],
       ['AVIY68KEPQ5ZD','Movie4',5],['A1CV1WROP5KTTW','Movie5',5],['AP57WZ2X4G0AA','Movie5',2],['A3NMBJ2LCRCATT','Movie5',5],
        ['A5Y15SAOMX6XA','Movie5',2],['A3P671HJ32TCSF','Movie5',5],['A3VCKTRD24BG7K','Movie5',5],[]]

In [47]:
dataset.insert

<bound method DataFrame.insert of              user_id  Movie1  Movie2  Movie3  Movie4  Movie5  Movie6  Movie7  \
0     A3R5OBKS7OM2IR     5.0     5.0     NaN     NaN     NaN     NaN     NaN
1      AH3QC2PC1VTGP     NaN     NaN     2.0     NaN     NaN     NaN     NaN
2     A3LKP6WPMP9UKX     NaN     NaN     NaN     5.0     NaN     NaN     NaN
3      AVIY68KEPQ5ZD     NaN     NaN     NaN     5.0     NaN     NaN     NaN
4     A1CV1WROP5KTTW     NaN     NaN     NaN     NaN     5.0     NaN     NaN
...              ...     ...     ...     ...     ...     ...     ...     ...
4843  A1IMQ9WMFYKWH5     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4844  A1KLIKPUF5E88I     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4845   A5HG6WFZLO10D     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4846  A3UU690TWXCG1X     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4847   AI4J762YI6S06     NaN     NaN     NaN     NaN     NaN     NaN     NaN

      Movie8  Movie9  ...  Movie197  Movie198  Movie199  Movie200  Movie201  \
0        NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
1        NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
2        NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
3        NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
4        NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
...      ...     ...  ...       ...       ...       ...       ...       ...
4843     NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
4844     NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
4845     NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
4846     NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
4847     NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN

      Movie202  Movie203  Movie204  Movie205  Movie206
0          NaN       NaN       NaN       NaN       NaN
1          NaN       NaN       NaN       NaN       NaN
2          NaN       NaN       NaN       NaN       NaN
3          NaN       NaN       NaN       NaN       NaN
4          NaN       NaN       NaN       NaN       NaN
...        ...       ...       ...       ...       ...
4843       NaN       NaN       NaN       NaN       5.0
4844       NaN       NaN       NaN       NaN       5.0
4845       NaN       NaN       NaN       NaN       5.0
4846       NaN       NaN       NaN       NaN       5.0
4847       NaN       NaN       NaN       NaN       5.0

[4848 rows x 207 columns]>

In [48]:
# Step4
pd.DataFrame(data,columns = ['User_id', 'Movie_id','Rating'])

           User_id Movie_id  Rating
0   A3R5OBKS7OM2IR   Movie1     5.0
1   A3R5OBKS7OM2IR   Movie2     5.0
2    AH3QC2PC1VTGP   Movie3     2.0
3   A3LKP6WPMP9UKX   Movie4     5.0
4    AVIY68KEPQ5ZD   Movie4     5.0
5   A1CV1WROP5KTTW   Movie5     5.0
6    AP57WZ2X4G0AA   Movie5     2.0
7   A3NMBJ2LCRCATT   Movie5     5.0
8    A5Y15SAOMX6XA   Movie5     2.0
9   A3P671HJ32TCSF   Movie5     5.0
10  A3VCKTRD24BG7K   Movie5     5.0
11            None     None     NaN

In [49]:
dataset.iloc[:,0]

0       A3R5OBKS7OM2IR
1        AH3QC2PC1VTGP
2       A3LKP6WPMP9UKX
3        AVIY68KEPQ5ZD
4       A1CV1WROP5KTTW
             ...
4843    A1IMQ9WMFYKWH5
4844    A1KLIKPUF5E88I
4845     A5HG6WFZLO10D
4846    A3UU690TWXCG1X
4847     AI4J762YI6S06
Name: user_id, Length: 4848, dtype: object

In [50]:
# Dynamic query creation
# dataset['user_id']
dataset['Movie1']

0       5.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4843    NaN
4844    NaN
4845    NaN
4846    NaN
4847    NaN
Name: Movie1, Length: 4848, dtype: float64

In [51]:
# for i in range(0,4):
#     for j in range(0,30):
#         pd.DataFrame([dataset.iloc[i,0],'Movie'j],columns=['User_id','Movie'])

In [52]:
for i in range(0,4):
    k=dataset.iloc[i,0]
    print(k)

A3R5OBKS7OM2IR
AH3QC2PC1VTGP
A3LKP6WPMP9UKX
AVIY68KEPQ5ZD

In [53]:
# # First attempt to make dataset as list view form
# # error occured:-ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().






# # for i in range(0,3):
# f=dataset['user_id']
# f=f.to_frame()
# newdf = pd.DataFrame(np.repeat(f.values,207,axis = 0))
# newdf.columns = f.columns

# for j in range(0,207):
    
        
# #         f=dataset.iloc[i,0]
        
# #         f = dataset['user_id']
# #         f = pd.Series(f)*206
# #         print(f)
#     k = 'Movie'+str(j)
#     g = dataset.iloc[j,1:].values
# # #         print(g)
#     mm = pd.Series(newdf)
#     gg = pd.Series(g)
#     ll = pd.Series(k)
# # #         print(gg)
#     df2=pd.concat([mm,gg],axis = 1)
#     df3 = pd.concat([gg,ll],axis =1)
#     print(df2)
        
# # # #         m = pd.DataFrame(f,g)
# # # #         f.concat(k)
# # #         User_id = pd.Series(f,name = "User_id")
# # #         Movie_id=pd.Series(g,name="Movie_id") 
# # #         df1 = pd.concat([User_id,Movie_id],axis = 1)
# # #         print(df1)

In [54]:
# Creating Movie_id as series Manually


Movie_ID=pd.Series(['Movie1','Movie2','Movie3','Movie4','Movie5','Movie6','Movie7','Movie8','Movie9','Movie10','Movie11',
          'Movie12','Movie13','Movie14','Movie15','Movie16','Movie17','Movie18','Movie19','Movie20','Movie21',
           'Movie22','Movie23','Movie24','Movie25','Movie26','Movie27','Movie28','Movie29','Movie30','Movie31',
          'Movie32','Movie33','Movie34','Movie35','Movie36','Movie37','Movie38','Movie39','Movie40','Movie41',
          'Movie42','Movie43','Movie44','Movie45','Movie46','Movie47','Movie48','Movie49','Movie50','Movie51',
          'Movie52','Movie53','Movie54','Movie55','Movie56','Movie57','Movie58','Movie59','Movie60','Movie61',
          'Movie62','Movie63','Movie64','Movie65','Movie66','Movie67','Movie68','Movie69','Movie70','Movie71',
          'Movie72','Movie73','Movie74','Movie75','Movie76','Movie77','Movie78','Movie79','Movie80','Movie81',
          'Movie82','Movie83','Movie84','Movie85','Movie86','Movie87','Movie88','Movie89','Movie90','Movie91',
          'Movie92','Movie93','Movie94','Movie95','Movie96','Movie97','Movie98','Movie99','Movie100','Movie101',
          'Movie102','Movie103','Movie104','Movie105','Movie106','Movie107','Movie108','Movie109','Movie110','Movie111',
          'Movie112','Movie113','Movie114','Movie115','Movie116','Movie117','Movie118','Movie119','Movie120','Movie121',
          'Movie122','Movie123','Movie124','Movie125','Movie126','Movie127','Movie128','Movie129','Movie130','Movie131',
          'Movie132','Movie133','Movie134','Movie135','Movie136','Movie137','Movie138','Movie139','Movie140','Movie141',
          'Movie142','Movie143','Movie144','Movie145','Movie146','Movie147','Movie148','Movie149','Movie150','Movie151',
          'Movie152','Movie153','Movie154','Movie155','Movie156','Movie157','Movie158','Movie159','Movie160','Movie161',
           'Movie162','Movie163','Movie164','Movie165','Movie166','Movie167','Movie168','Movie169','Movie170','Movie171',
          'Movie172','Movie173','Movie174','Movie175','Movie176','Movie177','Movie178','Movie179','Movie180','Movie181',
           'Movie182','Movie183','Movie184','Movie185','Movie186','Movie187','Movie188','Movie189','Movie190','Movie191',
          'Movie192','Movie193','Movie194','Movie195','Movie196','Movie197','Movie198','Movie199','Movie200','Movie201',
          'Movie202','Movie203','Movie204','Movie205','Movie206']*4848)

In [55]:
print(Movie_ID)

0           Movie1
1           Movie2
2           Movie3
3           Movie4
4           Movie5
            ...
998683    Movie202
998684    Movie203
998685    Movie204
998686    Movie205
998687    Movie206
Length: 998688, dtype: object

In [56]:
for m in range(11,4859):
    jk = m
#     print(jk)

In [57]:
yt = pd.Series(jk)

In [58]:
Movie_id = pd.DataFrame(Movie_ID,columns=['movie_id'])

In [59]:
# Movie_id = Movie_id.astype('int64')

In [60]:
dataset['user_id']

0       A3R5OBKS7OM2IR
1        AH3QC2PC1VTGP
2       A3LKP6WPMP9UKX
3        AVIY68KEPQ5ZD
4       A1CV1WROP5KTTW
             ...
4843    A1IMQ9WMFYKWH5
4844    A1KLIKPUF5E88I
4845     A5HG6WFZLO10D
4846    A3UU690TWXCG1X
4847     AI4J762YI6S06
Name: user_id, Length: 4848, dtype: object

In [61]:
f=dataset['user_id']
f=f.to_frame()
newdf = pd.DataFrame(np.repeat(f.values,206,axis = 0))
newdf.columns = f.columns

In [62]:
#  Creating dataset in table list format 


# for i in range(0,3):
# #     f=dataset.iloc[i,0]
f=dataset['user_id']
f=f.to_frame()
newdf = pd.DataFrame(np.repeat(f.values,206,axis = 0))
newdf.columns = f.columns

# print(newdf)
Movie_id = pd.DataFrame(Movie_ID,columns=['movie_id'])
    
for j in range(0,1):
    
        
    g = dataset.iloc[j,1:].values  
    gg = pd.Series(g)
    gg=gg.to_frame()
    gg=pd.DataFrame(g,columns=['ratings'])
#     print(gg)
    df5 = pd.concat([newdf,Movie_id,gg],axis = 1)
    print(df5)
#     f=f.to_frame()
#     newdf = pd.DataFrame(np.repeat(f.values,207,axis = 0))
    
#     f = pd.Series(f)
#     print(newdf)
#     for j in range(0,208):
#         newdf = pd.DataFrame(np.repeat(df.values,3,axis=0))
# newdf.columns = df.columns
# print(newdf)
# #         f=dataset.iloc[i,0]
        
#         f = dataset['user_id']
#         f = pd.Series(f)*206
#         print(f)

               user_id  movie_id ratings
0       A3R5OBKS7OM2IR    Movie1       5
1       A3R5OBKS7OM2IR    Movie2       5
2       A3R5OBKS7OM2IR    Movie3     NaN
3       A3R5OBKS7OM2IR    Movie4     NaN
4       A3R5OBKS7OM2IR    Movie5     NaN
...                ...       ...     ...
998683   AI4J762YI6S06  Movie202     NaN
998684   AI4J762YI6S06  Movie203     NaN
998685   AI4J762YI6S06  Movie204     NaN
998686   AI4J762YI6S06  Movie205     NaN
998687   AI4J762YI6S06  Movie206     NaN

[998688 rows x 3 columns]

In [63]:
# f=f.to_frame()
newdf = pd.DataFrame(np.repeat(f.values,206,axis = 0))
newdf.columns = f.columns

In [64]:
df5['ratings']=df5['ratings'].fillna(0)

In [65]:
n_users = df5.user_id.unique().shape[0]  
n_movies = df5.movie_id.unique().shape[0]

In [66]:
print(n_users)

4848

In [67]:
train_data, test_data = train_test_split(df5, test_size=0.25)

In [68]:
train_data_matrix = np.zeros((n_users, n_movies))

In [69]:
# Tried with old data set and facing error due movie_id and user_id string data type


# train_data_matrix = np.zeros((n_users, n_movies))
# for line in train_data.itertuples():
    
#     #[user_id index, movie_id index] = given rating.
#     train_data_matrix[int(line[1]-1, line[2]-1)] = line[3]

In [70]:
# Tried with old data set and facing error due movie_id and user_id string data type


# train_data_matrix = np.zeros((n_users, n_movies))
# for line in (train_data.itertuples()):
#     train_data_matrix[line[1]-1, line[2]-1] = line[3]  


# test_data_matrix = np.zeros((n_users, n_movies))
# for line in (test_data.itertuples()):
#     #[user_id index, movie_id index] = given rating.
#     test_data_matrix[line[1]-1, line[2]-1] = line[3]

In [71]:
# for line in dataset.itertuples():
#     print(line)

# dataset.iloc[]

In [72]:
type(dataset)

pandas.core.frame.DataFrame

In [73]:
ky = pd.Series(np.arange(1,4849,1))

In [74]:
ky=ky.to_frame()

In [75]:
# f=dataset['user_id']
# f=f.to_frame()


newdf11 = pd.DataFrame(np.repeat(ky.values,206,axis = 0))
newdf11.columns = ky.columns
newdf11.columns=['User_id_int']
print(newdf11)

        User_id_int
0                 1
1                 1
2                 1
3                 1
4                 1
...             ...
998683         4848
998684         4848
998685         4848
998686         4848
998687         4848

[998688 rows x 1 columns]

In [76]:
Mv_id_int = pd.Series(np.arange(1,207,1))
# print(Mv_id_int)

In [77]:
# MVE_id_int =pd.Series([Mv_id_int]*4848)
# print(MVE_id_int),2

In [78]:
mve = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,
                39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,
                76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,
                110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,
                137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,
                162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,
                190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206]*4848)
print(mve)

0           1
1           2
2           3
3           4
4           5
         ...
998683    202
998684    203
998685    204
998686    205
998687    206
Length: 998688, dtype: int64

In [79]:
Movie_id_int = pd.DataFrame(mve,columns=['movie_id_int'])
print(Movie_id_int )

        movie_id_int
0                  1
1                  2
2                  3
3                  4
4                  5
...              ...
998683           202
998684           203
998685           204
998686           205
998687           206

[998688 rows x 1 columns]

In [80]:
# for i in range(0,3):
# #     f=dataset.iloc[i,0]
newdf11 = pd.DataFrame(np.repeat(ky.values,206,axis = 0))
newdf11.columns = ky.columns
newdf11.columns=['User_id_int']
# print(newdf)
Movie_id_int = pd.DataFrame(mve,columns=['movie_id_int'])
    
for j in range(0,1):
    
        
#         f=dataset.iloc[i,0]
        
#         f = dataset['user_id']
#         f = pd.Series(f)*206
#         print(f)
#     k = 'Movie'+str(j)
    g = dataset.iloc[j,1:].values  
    gg = pd.Series(g)
    gg=gg.to_frame()
    gg=pd.DataFrame(g,columns=['ratings'])
#     print(gg)
    dfnew = pd.concat([newdf11,Movie_id_int,gg],axis = 1)
    print(dfnew)
#     f=f.to_frame()
#     newdf = pd.DataFrame(np.repeat(f.values,207,axis = 0))
    
#     f = pd.Series(f)
#     print(newdf)
#     for j in range(0,208):
#         newdf = pd.DataFrame(np.repeat(df.values,3,axis=0))
# newdf.columns = df.columns
# print(newdf)
# #         f=dataset.iloc[i,0]
        
#         f = dataset['user_id']
#         f = pd.Series(f)*206
#         print(f)

        User_id_int  movie_id_int ratings
0                 1             1       5
1                 1             2       5
2                 1             3     NaN
3                 1             4     NaN
4                 1             5     NaN
...             ...           ...     ...
998683         4848           202     NaN
998684         4848           203     NaN
998685         4848           204     NaN
998686         4848           205     NaN
998687         4848           206     NaN

[998688 rows x 3 columns]

In [81]:
dfnew =dfnew.fillna(0)

In [82]:
#Declare number of users and movies.
n_users = dfnew.User_id_int.unique().shape[0]  
n_movies = dfnew.movie_id_int.unique().shape[0]

In [83]:

#Creates a train test split of 75/25.
train_data, test_data = train_test_split(dfnew, test_size=0.25)

In [84]:
train_data_matrix = np.zeros((n_users, n_movies))
for line in train_data.itertuples():
    #[user_id index, movie_id index] = given rating.
    train_data_matrix[line[1]-1, line[2]-1] = line[3]  


test_data_matrix = np.zeros((n_users, n_movies))
for line in test_data.itertuples():
    #[user_id index, movie_id index] = given rating.
    test_data_matrix[line[1]-1, line[2]-1] = line[3]

In [85]:

#Creates cosine similarity matrices for users and movies. 
user_similarity = pairwise_distances(train_data_matrix, metric='cosine')
movie_similarity = pairwise_distances(train_data_matrix.T, metric='cosine')

In [86]:
## Predictions 
#User-Movie Collaborative Filtering, difference from mean rating is a better indicator than absolute rating.
mean_user_rating = train_data_matrix.mean(axis=1)[:, np.newaxis] 
ratings_diff = (train_data_matrix - mean_user_rating) 
user_pred = mean_user_rating + user_similarity.dot(ratings_diff) / np.array([np.abs(user_similarity).sum(axis=1)]).T

In [87]:

#Movie-Movie Collaborative Filtering
movie_pred = train_data_matrix.dot(movie_similarity) / np.array([np.abs(movie_similarity).sum(axis=1)])

#Root Mean Squared Error for validation.
def rmse(pred, test):
    pred = pred[test.nonzero()].flatten() 
    test = test[test.nonzero()].flatten()
    return sqrt(mean_squared_error(pred, test))

print("Collaborative Filtering RMSE")
print('User-based: ', rmse(user_pred, test_data_matrix))

Collaborative Filtering RMSE

ValueError: Found array with 0 sample(s) (shape=(0,)) while a minimum of 1 is required.